In [2]:
import pandas as pd
import csv

Let's view the first few columns of each dataframe to see what we are working with

In [3]:
gas_types = pd.read_csv('us_greenhouse_gas_emission_direct_emitter_gas_type.csv')
# RENAME ALL COLUMNS SO IT'S NOT SUCH AN EYESORE
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.ADDRESS1': 'Address Line 1'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.ADDRESS2': 'Address Line 2'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.CITY': 'City'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.CO2E_EMISSION': 'CO2 Emission (equivalent)'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.COUNTY': 'County'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.FACILITY_ID': 'Facility ID'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.GAS_CODE': 'Gas Code'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.GAS_NAME': 'Gas Name'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.LATITUDE': 'Latitude'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.LONGITUDE': 'Longitude'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.STATE': 'State'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.STATE_NAME': 'State Name'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.YEAR': 'Year'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.ZIP': 'Zip Code'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.FACILITY_NAME': 'Facility Name'})
gas_types = gas_types.rename(columns = {'V_GHG_EMITTER_GAS.COUNTY_FIPS': 'FIPS'})
# MAKE STRINGS UPPERCASE SO SEARCHING IS EASIER IN THE FUTURE
gas_types['City'] = gas_types['City'].str.upper()
gas_types['County'] = gas_types['County'].str.upper()
gas_types['Gas Code'] = gas_types['Gas Code'].str.upper()
gas_types['Gas Name'] = gas_types['Gas Name'].str.upper()
gas_types['Facility Name'] = gas_types['Facility Name'].str.upper()
# REMOVE 'COUNTY' FROM ENTRIES IN THE 'COUNTY' COLUMN TO MATCH COUNTY NAMES IN THE AIR QUALITY DATAFRAME
gas_types['County'] = gas_types['County'].str.split(' ').str[0]
# DROPPED COLUMNS WITH NO DATA
gas_types = gas_types.dropna(subset =['Address Line 1'] )
# DROPPED COLUMNS WITH MANY MISSING VALUES OR DATA THAT IS NOT IDENTIFYING
gas_types = gas_types.drop(columns = ['State', 'Address Line 2', 'FIPS'])

gas_types #.head()

,Address Line 1,City,CO2 Emission (equivalent),County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name
0,1919 S. BROADWAY,GREEN BAY,58024.000,BROWN,1000589,BIOCO2,BIOGENIC CO2,44.492500,-88.032300,WISCONSIN,2017,54304,GEORGIA-PACIFIC CONSUMER OPERATIONS LLC
1,850 12TH AVE,NEW YORK,134.500,NEW,1000766,CH4,METHANE,40.771100,-73.991100,NEW YORK,2018,10019,59TH STREET
2,3379 HWY 482,NOBLE,6.854,SABINE,1009343,N2O,NITROUS OXIDE,31.621528,-93.724774,LOUISIANA,2012,71462,BAKER ROAD TREATER
3,1012 BEAUCHAMP ST,GREENVILLE,53562.000,WASHINGTON,1003557,CH4,METHANE,33.392476,-91.017584,MISSISSIPPI,2017,38701,TEXAS GAS TRANSMISSION - GREENVILLE STATION
4,487 CORN CREEK ROAD,BEDFORD,7635064.700,TRIMBLE,1006542,CO2,CARBON DIOXIDE,38.584700,-85.411700,KENTUCKY,2018,40006,TRIMBLE COUNTY
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219922,14353 McFarland Road,BURLINGTON,301493.000,SKAGIT,1010898,BIOCO2,BIOGENIC CO2,48.448041,-122.433615,WASHINGTON,2016,98273,SIERRA PACIFIC INDUSTRIES - BURLINGTON
219923,14353 McFarland Road,BURLINGTON,1929.800,SKAGIT,1010898,CO2,CARBON DIOXIDE,48.448041,-122.433615,WASHINGTON,2016,98273,SIERRA PACIFIC INDUSTRIES - BURLINGTON
219924,7628 Thorndike Road,GREENSBORO,2776.500,GUILFORD,1010033,CO2,CARBON DIOXIDE,36.075650,-79.965030,NORTH CAROLINA,2018,27409,QORVO
219926,1186 Calkins Rd,TROY,23.840,BRADFORD,1010571,N2O,NITROUS OXIDE,41.730488,-76.707873,PENNSYLVANIA,2012,16947,GRANVILLE COMPRESSOR STATION
219927,1186 Calkins Rd,TROY,23.000,BRADFORD,1010571,CH4,METHANE,41.730488,-76.707873,PENNSYLVANIA,2013,16947,GRANVILLE COMPRESSOR STATION

The gas_type dataframe contains data about the location of emitter facilities and gas types emitted from each one. There are ~220,000 entries.

In [4]:
new_york_df = gas_types[gas_types["State Name"] == "NEW YORK"]


for value in gas_types["Gas Code"].unique():
    print(value)
for value in gas_types["Gas Name"].unique():
    print(value)

BIOCO2
CH4
N2O
CO2
SF6
OTHER_FULL
PFC
HFC
VERY_SHORT
HFE
NF3
OTHER
BIOGENIC CO2
METHANE
NITROUS OXIDE
CARBON DIOXIDE
SULFUR HEXAFLUORIDE
OTHER FULLY FLUORINATED GHGS
PFCS
HFCS
VERY SHORT-LIVED COMPOUNDS
HFES
NITROGEN TRIFLOURIDE
OTHER

In [5]:
air_quality = pd.read_csv('us_air_quality_measures.csv')
# MAKE STATE AND COUNTY NAMES UPPERCASE
air_quality['StateName'] = air_quality['StateName'].str.upper()
air_quality['CountyName'] = air_quality['CountyName'].str.upper()
# DROP COLUMNS WHERE THE 'Value' COLUMN IS 0.000000
#air_quality = air_quality[air_quality['Value'] != 0.000000]
air_quality.head()

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
0,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1027,CLAY,1999,33.0,No Units,No Units,Monitor Only,1
1,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1051,ELMORE,1999,5.0,No Units,No Units,Monitor Only,1
2,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1073,JEFFERSON,1999,39.0,No Units,No Units,Monitor Only,1
3,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1079,LAWRENCE,1999,28.0,No Units,No Units,Monitor Only,1
4,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,ALABAMA,1089,MADISON,1999,31.0,No Units,No Units,Monitor Only,1

In [6]:
for value in air_quality["MeasureName"].unique():
    print(value)


for value in air_quality["Unit"].unique():
    print(value)

Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard
Percent of days with PM2.5 levels over the National Ambient Air Quality Standard (NAAQS)
Person-days with PM2.5 over the National Ambient Air Quality Standard
Number of person-days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard
Annual average ambient concentrations of PM2.5 in micrograms per cubic meter (based on seasonal averages and daily measurement)
Number of days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard (monitor and modeled data)
Number of person-days with maximum 8-hour average ozone concentration over the National Ambient Air Quality Standard (monitor and modeled data)
Percent of days with PM2.5 levels over the National Ambient Air Quality Standard (monitor and modeled data)
Number of person-days with PM2.5 over the National Ambient Air Quality Standard (monitor and modeled data)
Annual average ambient concentrations of PM 2.5 in micrograms per cubic meter, based on seasonal averages and daily measurement (monitor and modeled data)
No Units
%
Âµg/mÂ³

In [49]:
average_air_quality = air_quality[air_quality["MeasureName"] == "Annual average ambient concentrations of PM2.5 in micrograms per cubic meter (based on seasonal averages and daily measurement)"]
average_air_quality_micrograms_per_meters_cubed = average_air_quality[average_air_quality["Unit"] == "Âµg/mÂ³"]
stripped_average_air_quality = average_air_quality_micrograms_per_meters_cubed[["CountyName","Value","ReportYear"]].sort_values(by="CountyName")
grouped_average_air_qualty = stripped_average_air_quality.groupby("CountyName", "ReportYear")["Value"].mean().reset_index()
print(len(grouped_average_air_qualty))

# average_air_quality_by_county = average_air_quality_micrograms_per_meters_cubed.groupby("CountyName")
# average_air_quality_by_county.head()

TypeError: DataFrame.groupby() got an unexpected keyword argument 'columns'

The air_quality dataframe contains air quality measures across different states/counties in the United States. It contains over 218,000 entries.

In [8]:
facilities = pd.read_csv('us_greenhouse_gas_emissions_direct_emitter_facilities.csv')
# RENAME ALL COLUMNS SO IT'S NOT SUCH AN EYESORE
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.ADDRESS1': 'Address Line 1'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.ADDRESS2': 'Address Line 2'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.CEMS_USED': 'CEMS Used'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.CITY': 'City'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.COUNTY': 'County'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.COUNTY_FIPS': 'FIPS'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.FACILITY_ID': 'Facilities ID'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.LATITUDE': 'Latitude'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.LONGITUDE': 'Longitude'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.PRIMARY_NAICS_CODE': 'NAICS Code'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.STATE': 'State'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.STATE_NAME': 'State Name'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.YEAR': 'Year'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.ZIP': 'Zip Code'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.FACILITY_NAME': 'Facility Name'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.SECONDARY_NAICS_CODE': 'Secondary NAICS Code'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.ADDITIONAL_NAICS_CODES': 'Additional NAICS Codes'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.COGENERATION_UNIT_EMISS_IND': 'Cogeneration Unit Emission Index(?)'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.EPA_VERIFIED': 'EPA Verified'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.PARENT_COMPANY': 'Parent Company'})
facilities = facilities.rename(columns = {'V_GHG_EMITTER_FACILITIES.PLANT_CODE_INDICATOR': 'Plant Code Indicator'})
# MAKE ADDRESSES ALL UPPERCASE, THEN DROP ROWS WITH NO ADDRESS
facilities['Address Line 1'] = facilities['Address Line 1'].str.upper()
facilities = facilities.dropna(subset =['Address Line 1'] )
#facilities.head()

#add2_nan =facilities['Address Line 2'].isna().sum()
#add2_nan

/tmp/ipykernel_701/1221196783.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  facilities = pd.read_csv('us_greenhouse_gas_emissions_direct_emitter_facilities.csv')

The facilities dataframe contains data about each facility, namely address, location, and IDs (FIPS, NAICS). There are ~77,000 rows.

# Question 1
## How does air quality relate to the number of emitting facilities and and level of emissions in the area?
We can answer this question using the air_quality and gas_types dataframes. We can group facilities by county. Just for a trial run, let's pick a county that's in both dataframes

In [9]:
# air_quality rows where Weston is the county
weston_aq = air_quality[(air_quality['CountyName'] == 'WASHINGTON')  & (air_quality['ReportYear'] == 2011)]
weston_aq.head()

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
16356,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,5,ARKANSAS,5143,WASHINGTON,2011,4.0,No Units,No Units,Monitor Only,1
16588,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,21,KENTUCKY,21229,WASHINGTON,2011,0.0,No Units,No Units,Monitor Only,1
16617,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,23,MAINE,23029,WASHINGTON,2011,0.0,No Units,No Units,Monitor Only,1
16633,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,24,MARYLAND,24043,WASHINGTON,2011,3.0,No Units,No Units,Monitor Only,1
16682,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,27,MINNESOTA,27163,WASHINGTON,2011,1.0,No Units,No Units,Monitor Only,1

In [10]:
# gas_types rows where Weston is county
weston_gas_2013 = gas_types[(gas_types['County'] == 'WESTON') & (gas_types['Year'] == 2011)]
weston_gas_2013

,Address Line 1,City,CO2 Emission (equivalent),County,Facility ID,Gas Code,Gas Name,Latitude,Longitude,State Name,Year,Zip Code,Facility Name
39808,740 W. MAIN ST.,NEWCASTLE,143062.700,WESTON,1004459,CO2,CARBON DIOXIDE,43.851260,-104.214860,WYOMING,2011,82701,WYOMING REFINING COMPANY
67333,740 W. MAIN ST.,NEWCASTLE,86.420,WESTON,1004459,N2O,NITROUS OXIDE,43.851260,-104.214860,WYOMING,2011,82701,WYOMING REFINING COMPANY
114375,923 Grieves Road,NEWCASTLE,1520.500,WESTON,1006599,CH4,METHANE,43.637510,-104.540320,WYOMING,2011,82701,NEWCASTLE GAS PLANT
114376,923 Grieves Road,NEWCASTLE,3.278,WESTON,1006599,N2O,NITROUS OXIDE,43.637510,-104.540320,WYOMING,2011,82701,NEWCASTLE GAS PLANT
135833,3363 HIGHWAY 16,OSAGE,0.000,WESTON,1000576,CO2,CARBON DIOXIDE,43.969615,-104.411667,WYOMING,2011,82723,BLACK HILLS POWER AND LIGHT COMPANY
136151,740 W. MAIN ST.,NEWCASTLE,406.000,WESTON,1004459,CH4,METHANE,43.851260,-104.214860,WYOMING,2011,82701,WYOMING REFINING COMPANY
210003,923 Grieves Road,NEWCASTLE,5810.600,WESTON,1006599,CO2,CARBON DIOXIDE,43.637510,-104.540320,WYOMING,2011,82701,NEWCASTLE GAS PLANT

In [11]:
air_quality['CountyName'].value_counts()

CountyName
WASHINGTON               2221
JEFFERSON                1999
JACKSON                  1683
FRANKLIN                 1593
MADISON                  1510
                         ...
YUKON-KOYUKUK              24
DENALI                     16
HAWAII                      8
KETCHIKAN GATEWAY           6
SKAGWAY-HOONAH-ANGOON       1
Name: count, Length: 1816, dtype: int64

In [12]:
gas_types['Year'].value_counts()

Year
2014    21381
2015    21078
2013    21017
2012    20804
2018    20751
2016    20741
2019    20613
2017    20457
2011    20226
2010    16533
Name: count, dtype: int64